<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.unilim.ratiog4.ratiog4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat"
        android:label="@string/app_name">

        <activity android:name=".Planning" android:label="Planning"></activity>

        <activity android:name=".MainActivity" android:label="Mes Ratios">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".AjouterJeuActivity" android:label="Ajoutez un jeu">
        </activity>

        <activity android:name=".JeuActivity" android:label="Mes Ratios">
        </activity>

        <activity android:name=".RatioActivity" android:label="Nouveau Ratio">
        </activity>



    </application>

</manifest>